<%- include('./_header') %>
    <div class="container">
      <div class="container-header">
        <h1>積ん読リスト編集</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">書籍名</p>
        <form action="/update/<%= item.id %>" method="post">
          <input type="text" name="itemName" value="<%= item.name %>">
          <input type="submit" value="更新する">
        </form>
      </div>
      <a href="/index" class="cancel-button"></span>もどる</span></a>
    </div>

<%- include('./_footer') %>