<%- include('./_header') %>

    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">積ん読リストアプリ</h2>
        <h1 class="title">LIST APP</h1>
        <p class="description">
          LIST APPは、積ん読をリストアップするサービスです。
          <br>
          買いたいものをリストに登録してみましょう。
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>

<%- include('./_footer') %>